

* {
  box-sizing: border-box;
}

body{
	font-family:helvetica,calibri,arial,sans-serif;
}

#wrapper{
   max-width:1300px;
	min-width:320px;
	margin-left:auto;
	margin-right:auto;
}

/* Top Information */

#you_are_here{
	margin-top:7px;
	display:flex;
	justify-content:space-between;
}

#you_are_here p{
	font-size:10px;
	color:grey;
}

#you_are_here a{
	text-decoration:none;
	color:black;
	margin-right:5px;
}

#you_are_here ul{
	display:flex;
	justify-content:space-between;
	width:1400px;
	margin-left:-40px;
}

#you_are_here li{
	display:flex;

}

#email{
	margin-left:15px;
}



/* Logo */

header{
	margin-top:10px;
	margin-bottom:5px;
}

header a{
	text-decoration:none;
	color:black;
	font-size:42px;
	font-weight:1000;
}







#responsive-menu  .menu-icon {      /* responsive MENU */
display: none;
width: 100%;
}

#responsive-menu  .menu-icon a {      /* responsive MENU */
width: 100%;
display: inline-block;
color: #000;
text-decoration: none;
font-weight: bold;
font-size: 20px;
}

#responsive-menu  .menu-icon img {      /* responsive MENU */
vertical-align: bottom;
}





/* Top Navigation */

nav ul{
	margin-top:20px;
}

nav ul{
	
	display:flex;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;

}

nav a{
	text-decoration:none;
	color:black;
	display: block;
	
    padding: 10px 20px 10px 20px;
    border-right:1px solid black;
    font-size:12px;

}

nav a:hover{
	background-color:#636363;
}

#nav li{
	float:left;
	font-weight:lighter;

}



/* hero image and text */

#hero{
	min-width:32px;
}

#hero img{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}

#hero h3{
	font-size:20px;
}

#hero a{
	text-decoration:none;
	color:black;
}

#hero h3:hover{
	color:grey;
}



















.left {
  border-top:3px solid black;
  float:left;
  width:60%;
  margin-right:20px;

}

.left img{
	width:100%;
}

.left a{
	text-decoration:none;
	color:black;
}

.left a:hover{
	color:grey;
}

.left h2{
	font-size:22px;
}







.right {
  border-top:3px solid black;
  float:left;
  width:38%;
  
}

.right img{
	width:100%;

}

.right a{
	text-decoration:none;
	color:black;
}

.right a:hover{
    color:grey;
}

.right h2{
	font-size:22px;
}




/* More Work - Title */

#row_title{
	border-top:3px solid black;
	
}
#row_title h1{
		font-size:42px;
}




/* more work - row 1 */

.one {
  float:left;
  width:33.3%;
  padding:0px 10px 0px 0px;
}
.one a{
	text-decoration:none;
	color:black;
}
.one a:hover{
	color:grey;
}
.one img{
	max-width:100%;
}



.two {
  float:left;
  width:33.3%;
  padding:0px 10px;
}
.two a{
	text-decoration:none;
	color:black;
}
.two a:hover{
	color:grey;
}
.two img{
	max-width:100%;
}


.three {
  float:left;
  width:33.3%;
  padding:0px 0px 0px 10px;
}

.three a{
	text-decoration:none;
	color:black;
}
.three a:hover{
	color:grey;
}
.three img{
	max-width:100%;
}


/*more work*/

.four {
  float:left;
  width:33.3%;
  padding:0px 10px 0px 0px;
}
.four a{
	text-decoration:none;
	color:black;
}
.four a:hover{
	color:grey;
}
.four img{
	max-width:100%;
}


.five {
  float:left;
  width:33%;
  padding:0px 10px;
}
.five a{
	text-decoration:none;
	color:black;
}
.five a:hover{
	color:grey;
}
.five img{
	max-width:100%;
}

.six {
  float:left;
  width:33.3%;
  padding:0px 0px 0px 10px;
}

.six a{
	text-decoration:none;
	color:black;
}
.six a:hover{
	color:grey;
}
.six img{
	max-width:100%;
}




#footer_header{
	
}

#footer_header h1{
	border-bottom:3px solid black;
	margin-bottom:20px;
	font-size:22px;
}





footer{
	display:flex;
	justify-content:space-between;
	border-bottom:1px solid black;
}

#icons ul{
	display:flex;
	list-style-type:none;
}

#icons li{
	padding:5px 10px 10px ;
}

#icons p{
	margin-left:45px;
}






/* Nav - Right Col */


.beta{
	float:left;
	width:23%;

}

.beta p{
	margin-top:2px;
	border:1px ridge grey;
	border-style: ridge none  none;
	font-size:13px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 40px;
  
}

zdiv.sticky2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white  ;

  
}

.beta p a:hover{
	color:grey;
}

.beta h1{
	
	font-size:20px;
	
}

.beta p a{
	padding-top:5px;
	text-decoration:none;
	color:black;

}

.beta a:hover{
	color:grey;
}

#choose{
	display:flex;
}
#choose h1{
	border-right:1px solid grey;
	padding-right:10px;
}

#choose h2{
	font-size:20px;
	font-weight:lighter;
	margin-left:10px;
}

#choose1{
	display:flex;
	
}
#choose1 h1{
	border-right:1px solid grey;
	padding-right:10px;
}

#choose1 h2{
	font-size:20px;
	font-weight:lighter;
	margin-left:10px;
}

#choose2{
	display:flex;
	
}
#choose2 h1{
	border-right:1px solid grey;
	padding-right:10px;
}

#choose2 h2{
	font-size:20px;
	font-weight:lighter;
	margin-left:10px;
}


/* Photography - Left Col */


.alpha{
	margin-top:10px;
	padding:0px 20px 0px 0px;
	float:left;
	width:77%;
}

.alpha img{
	width:100%;
	margin-top:10px;
	
}


.alpha h1{
	margin-top:10px;
   font-size:20px;
   margin-bottom:-10px;
}

.alpha h2{
	font-size:20px;
	font-weight:lighter;
	margin-bottom:-7px;
	
}

.alpha p{
	margin-top:10px;
}











@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .left, .right, .one, .two, .three, .four, .five, .six, #address, #icons, #available, .beta, .alpha, #you_are_here {
    width:100%;
  }

@media only screen and (max-width:620px) {
  /* You are here - dissapear */
  #you_are_here{
    display:none;
  }

#wrapper {
	margin: 0px;   
	min-width: 320px; 
	}

	#inner-wrapper {
	padding: 3% 5%;
	}


	#responsive-menu  .menu {   /* responsive MENU */
	max-height: 0;
	overflow: hidden;
	float: none;
	width: 100%;
	transition: max-height 0.5s;
	}

	#responsive-menu  .menu.menu-open {   /* responsive MENU */
	max-height: 1000px;
	transition: max-height 0.5s;
	}

	#responsive-menu  .menu-icon {   /* responsive MENU */
	display: inline-block;
	}

	nav {    /*  insert a suitable top margin  */
	margin-top:10px;
	}
	nav ul {
	flex-flow: column ;  
	} 

	nav li {   /*  insert a suitable top margin  */
	
	font-size: 83%;
	}

	main {   /*  insert a suitable top margin  */
	
	}

	footer {   /*  insert text align for center  */
	width: 100%;
	text-align:center;
	}

	footer ul {
	flex-flow: column wrap;  
	} 

	footer li {   /*  insert a suitable top margin  */
	margin-top:10px;
	}